body {
  background-color: #555555;
}

a {
  color: #5c7ca3;
}

$menu-width: 33.3%;
$layout-width: 100% - 36%;

$break-large: 1200px;


.flowertop {
  width: 100%;
  image-rendering: pixelated;
  margin: 0;
  @media screen and (min-width: $break-large) {
    display:none;
  }
}


.layout {

    @media screen and (min-width: $break-large) {
      display: grid;
      grid-gap: 2%;
      grid-template-columns: $layout-width $menu-width;
      margin: 2% 10%;
      .flowers {
        display: inline;
      }
    }
}

.content {
  order: 1;
}

.menu {
  order: 2;

}


.flowers {
  display: none;
  width: 100%;
  image-rendering: pixelated;
  margin: 0;
}

.robots {
  max-width: 300px;
  width: 100%;
  image-rendering: pixelated;
  margin: auto;
  display: block;
}


.pixelBorder {
  padding: 10px;
  background-color: white;
  box-shadow: 0px -2px 0 1px #c0c0c0,
     -2px -2px 0 1px #c0c0c0,
     1px -2px 0 1px #c0c0c0,
     -2px 1px 0 1px #c0c0c0;
  border-top: 1px solid #595959;
  border-bottom: 1px solid #c0c0c0;
  border-left: 1px solid #595959;
  border-right: 1px solid #c0c0c0;
  outline: 2px solid #808080;
}

